.vs/
CMake/
CMakeFiles/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
Snakey.sdf
Snakey.sln
Snakey.vcxproj
Snakey.vcxproj.filters
Snakey.VC.opendb
Snakey.dir/
bin/
Win32/